* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 5vh; /* Центрирование по главной оси (горизонтально по умолчанию) */
	padding-bottom: 5vh; /* Центрирование по главной оси (горизонтально по умолчанию) */
	align-items: center;
	color: #432818;
	font-family: 'Doppio One', sans-serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
}
